<div class="container">
  <%
    adm_channels = Admright.where(pulsechannel_id: @pulsechannel.id)
    isAdm = false
    adm_channels.each do |admChannel|
      puts "THIS IS ADM" + admChannel.inspect
      if admChannel.user_id == current_user.id
        isAdm = true
      end
    end
  %>
  <% if @pulsechannel.channeltype == "private" && isAdm == true  %>
    <h1 id="channelHeader"><%= @pulsechannel.event %></h1>
    <div class="fixed-action-btn horizontal">
      <a class="btn-floating btn-large red" id="linktobottom">
        <i class="large material-icons">system_update_alt</i>
      </a>
    </div>
    <div id="pulsechannel-info">
      <div class="row col-md-6">
        <div id="pulsechannel-edit" style="display:none">
          <%= render partial: 'pulsechannel_edit_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
        </div>
        <div id="current-channel">
          <div class="card medium" id="channelCard">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="<%= @pulsechannel.channelImage %>">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4"><i class="material-icons right showDeats">more_vert</i></span>
             <div id="set_rating" style="display:none">
               <div id="rateYo"></div>
               <input id="userRating" style= "display:none">
               <a id="submitrating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">done</i></a>
               <a id="showRating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">close</i></a>
             </div>

             <div id="get_rating">
               <div id="rateCurrent"></div>
               <a id="showSetRating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
             </div>

             <p id="etime"><%= @eventTime %></p>
           </div>

           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4"><i class="material-icons right hideDeats">close</i></span>
             <p><%= @pulsechannel.detail %></p>
           </div>

          </div>
        </div>
        <div id="adm-edit" style="display:none">
          <%= render partial: 'adm_edit_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
        </div>
        <% if isAdm == true  %>
        <a class="waves-effect waves-light btn" id="editchannel">Edit channel</a>
        <a class="waves-effect waves-light btn" id="editadm">Adm rights</a>
        <% end %>
      </div>
      <div class="row col-md-6 col-md-offset-6" id="channel_map">
        <div id="map"></div>
      </div>
    </div>
    <div>
      <% if @pulsechannel.posts.any? %>
        <div id="posts" class="cards">
          <%= render partial: 'posts/post', collection: @pulsechannel.posts%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="posts">
        </div>
      <%end%>
    </div>

    <br>
    <%= render partial: 'posts/post_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
    <hr>

  <% elsif @pulsechannel.channeltype == "public"%>

    <h1 id="channelHeader"><%= @pulsechannel.event %></h1>
    <div class="fixed-action-btn horizontal">
      <a class="btn-floating btn-large red" id="linktobottom">
        <i class="large material-icons">system_update_alt</i>
      </a>
    </div>
    <div id="pulsechannel-info">
      <div class="row col-md-6">
        <div id="pulsechannel-edit" style="display:none">
          <%= render partial: 'pulsechannel_edit_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
        </div>
        <div id="current-channel">
          <div class="card medium" id="channelCard">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="<%= @pulsechannel.channelImage %>">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4"><i class="material-icons right showDeats">more_vert</i></span>
             <div id="set_rating" style="display:none">
               <div id="rateYo"></div>
               <input id="userRating" style= "display:none">
               <a id="submitrating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">done</i></a>
               <a id="showRating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">close</i></a>
             </div>

             <div id="get_rating">
               <div id="rateCurrent"></div>
               <a id="showSetRating" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
             </div>

             <p id="etime"><%= @eventTime %></p>
           </div>

           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4"><i class="material-icons right hideDeats">close</i></span>
             <p><%= @pulsechannel.detail %></p>
           </div>

          </div>
        </div>
        <div id="adm-edit" style="display:none">
          <%= render partial: 'adm_edit_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
        </div>
        <% if isAdm == true  %>
        <a class="waves-effect waves-light btn" id="editchannel">Edit channel</a>
        <a class="waves-effect waves-light btn" id="editadm">Adm rights</a>
        <% end %>
      </div>
      <div class="row col-md-6 col-md-offset-6" id="channel_map">
        <div id="map"></div>
      </div>
    </div>
    <div>
      <% if @pulsechannel.posts.any? %>
        <div id="posts" class="cards">
          <%= render partial: 'posts/post', collection: @pulsechannel.posts%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="posts">
        </div>
      <%end%>
    </div>

    <br>
    <%= render partial: 'posts/post_form', locals: {post: @post, pulsechannel: @pulsechannel}%>
    <hr>

  <% else %>
    <div class="card blue-grey darken-1" id="oopsprivate">
      <div class="card-content white-text">
        <span class="card-title">Oops!</span>
        <p>Unfortunately this channel is private!</p>
      </div>
    </div>
  <% end %>
</div>

<div id="data_coords" data-coords-data="<%= @current_location_coordinates.to_json %>">
<div id="data_ratings" data-rating-data="<%= @ratings.to_json %>">
<div id="data_userRatings" data-userRating-data="<%= @userRatings.to_json %>">


<script>
  var current_location_coordinates = $('#data_coords').data('coords-data')
  var current_room_id = <%= @pulsechannel.id.to_i %>
  var current_username = '<%= current_user.username %>'
  var current_slug = '<%= @current_slug %>'
  var ratingsAll = $('#data_ratings').data('rating-data')
  var ratingsTotal = 0
  if(gon.userRating[0] != undefined){
    var userRating = gon.userRating[0].rating
  }
  for(i=0;i<ratingsAll.length;i++){
    ratingsTotal += parseFloat(ratingsAll[i].rating)
  }
  var avgRating = ratingsTotal/ratingsAll.length

  gon.inChannel = "true"

  $(function () {
    function EL(id) { return document.getElementById(id); }
    $("#rateYo").rateYo({
      rating: parseFloat(userRating) || 0
    })

    $("#rateYo").rateYo()
      .on("rateyo.change", function (e, data) {
        var rating = data.rating
        starWidth: "10px"
        EL("userRating").value = rating
      });

    $("#rateCurrent").rateYo({
      rating: avgRating || 0,
      readOnly: true
    });

    $('#showSetRating').click(function(){
      console.log("Show edit clicked")
      $('#set_rating').slideDown( "slow");
      $('#get_rating').slideUp();
    })

    $('#showRating').click(function(){
        $('#get_rating').slideDown( "slow");
        $('#set_rating').slideUp();
    })
  // Do an ajax request instead
    $('#submitrating').click(function () {
      var value = parseFloat(EL("userRating").value)
      var userId = <%=@current_user.id.to_i %>
      if(userRating == undefined){
        $.ajax({
         type: "POST",
         url: "/ratings",
         data: { rating: {pulsechannel_id: current_room_id, user_id: userId, rating: value}},
         error: function(e) {
            console.log(e);
          }
        })
      }else {
        $.ajax({
         type: "PUT",
         url: "/ratings/"+gon.userRating[0].id,
         data: { rating: {pulsechannel_id: current_room_id, user_id: userId, rating: value}},
         error: function(e) {
            console.log(e);
          }
        })
      }

    })


    $('.showDeats').on('click', function() {
        console.log("no longer null")
        $('.card-content').addClass("setDisplayNone");
    })

    $('.hideDeats').on('click', function() {
        $('.card-content').removeClass("setDisplayNone");
    })


  });
</script>
